@import "../styles/colors";

.MessageList {
  overflow-y: auto;

  .Messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 0;
    overflow: auto;
  }
}
